button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    padding: 15px 25px;

    background-color: var(--background-button);
    color: var(--white);
    transition: all 200ms;

    border-radius: 5px;
    border: 0;
    font-size: 18px;

    & + button {
        margin-top: 15px;
    }

    &:first-child {
        margin-top: 0;
      }

    &:hover {
        background-color: var(--background-button2);
    }
    
    &.select {
        background-color: var(--background-button2);
        color: var(--yellow);
    }
}